body {
  /* margin-left: 40%; */
  /* margin-right: 50%; */
  /* margin-top: 10%; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(206, 9%, 15%);
  /* flex-shrink: 0; */
  /* align-items: stretch; */
  /* justify-content: stretch; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
